# Node
node_modules/
dist/

# Env
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Frontend (web) specific
web/node_modules/
web/dist/
web/.env.local
web/.env.*.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.DS_Stor